/Momento - Redefinición de datos/modelo_knn_ventanas_guzman.ipynb
/Momento - Redefinición de datos/modelo_knn_señal_completa_guzman.ipynb
/ETL/etl_train_test.ipynb
/modelado/modelacion_antiguo.ipynb
/Datos modelo antiguo/
